<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<meta name="robots" content="noindex, nofollow" />
	
	<title>{{title}}</title>
	
	<link href="css/site.min.css" rel="stylesheet" type="text/css" />
</head>
<body>
	<h1>Welcome to static-website generator!</h1>
	{{> logo}}
	<p>See <a href="https://github.com/gabrieleceranto/generator-static-website-docker.git">website</a> for more info</p>
	<script src="js/site.min.js"></script>
</body>
</html>
